.welcome-section {
    text-align: center;
    font-size: 52px;
}
.project-tile{
    text-align: center;
    font-size: 45px;
}
.contact-session{
text-align: center;
font-size: 40px;
}
nav {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
 
.nav ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
 
.nav li {
    float:right
}
 
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
.nav li a:hover {
    background-color: rgb(77, 77, 78);
}